{% extends "template.html" %}

{% block body %}
<!DOCTYPE html>

<html>
<head> Contact Information </head>

<table style="margin-left: auto; margin-right: auto; width: 50%;">
<caption>Top Hikes in the U.S.</caption>
 <tr>
  <th>Ranking</th>
  <th>State</th>
  <th>Elevation</th>
  <th># of days</th>
 </tr>
 <tr>
  <td>1</td>
  <td>Idaho</td>
  <td>12,855 Ft.</td>
  <td>2 Days</td>
 </tr>
 <tr>
  <td>2</td>
  <td>Utah</td>
  <td>13,222 Ft.</td>
  <td>3 Days</td>
 </tr>
 <tr>
  <td>3</td>
  <td>Montana</td>
  <td>12,544 Ft.</td>
  <td>3 days</td>
 </tr>
</table>

{% endblock %}
